@tailwind base;
@tailwind components;
@tailwind utilities;

.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
  display: none;
}

.gm-bundled-control {
  right: 30px !important;
  bottom: 65px !important;
  transform: scale(0.8);
}

button.gm-control-active {
  @apply bg-black !important;
}

.gm-bundled-control .gmnoprint > div {
  @apply bg-gray-900 !important;
}

.gm-bundled-control .gmnoprint > div > div {
  @apply bg-gray-900 !important;
}
